@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gradient-start: #424cf9; /* Example start color */
  --color-gradient-end: #2548a0; /* Example end color */
}
@keyframes slideInRightTabs {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  display: none;
}
.slideInRight {
  animation: slideInRight 1s ease-out;
}
